.section_author{
	.author-head{
		background: url(../images/bg-dot.png) center repeat;
		padding: 51px 0 0;
		.head--info{
			.head--small{
				display: block;
				font: normal normal 500 13px/20px Oswald;
				color: #000000;
				text-transform: uppercase;
			}
			.head--grid{
				display: grid;
				grid-template-columns: 1fr 420px;
				grid-gap: 30px;
				margin-top: 20px;
				padding-bottom: 20px;
				@media (max-width: 767px){
					grid-template-columns: 1fr;
					grid-gap: 20px;
				}
				.head--left{
					display: grid;
					grid-gap: 30px;
					grid-template-columns: 80px 1fr;
					.head--avatar{
						width: 80px;
						height: 80px;
						img{
							height: 100%;
							width: 100%;
							border-radius: 50%;
							object-fit: cover;
						}
					}
					.head--caption{
						padding-top: 7px;
						.name{
							font: normal normal 500 30px/1.5 Oswald;
							letter-spacing: 0px;
							color: #000000;
							display: block;
							@media (max-width: 450px){
								font-size: 24px;
							}
						}
						.position{
							font: normal normal 300 13px/20px Montserrat;
							letter-spacing: 0px;
							color: #757575;
							margin-top: 5px;
						}
					}
				}
				.head--right{
					padding-top: 7px;
					ul{
						display: grid;
						grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
						grid-gap: 30px;
						list-style-type: none;
						padding: 0;
						margin: 0;
						li{
							text-align: center;
							strong{
								font: normal normal 500 30px/1.5 Oswald;
								letter-spacing: 0px;
								color: #000000;
								display: block;
								@media (max-width: 450px){
									font-size: 24px;
								}
							}
							span{
								font: normal normal 300 13px/20px Montserrat;
								letter-spacing: 0px;
								color: #757575;
								margin-top: 5px;
								display: block;
							}
						}
					}
				}
			}
		}
		.head--other{
			border-top: 1px solid #E0E0E0;
			padding: 20px 0 40px;
		    display: grid;
		    grid-template-columns: 1fr 226px;
		    grid-gap: 30px;
		    @media (max-width: 767px){
		    	grid-template-columns: 1fr;
		    	grid-gap: 20px;
		    }
			.other--text{
				font: normal normal 300 13px/20px Montserrat;
				letter-spacing: 0px;
				color: #757575;
				max-width: 580px;
			}
			.other--actions{
				text-align: right;
				.button{
					padding: 0 20px;
					height: 40px;
					display: inline-block;
					border: 1px solid #000;
					text-align: center;
					font: normal normal normal 13px/38px Oswald;
					letter-spacing: 0px;
					color: #FFFFFF;
					background: #000;
					text-transform: uppercase;
					min-width: 106px;
					@include transition;
					&:not(.style--outline):hover{
					    background: #383838;
					}
					+ .button{
						margin-left: 10px;
					}
					&.style--outline{
						color: #000;
						background: transparent;
					}
				}
			}
		}
	}
}