.section_author{
	.author-head{
		background: url(../images/bg-dot.png) center repeat;
		padding: 51px 0 0;
		.head--info{
			.head--small{
				display: block;
				font: normal normal 500 13px/20px Oswald;
				color: #000000;
				text-transform: uppercase;
			}
			.head--grid{
				display: grid;
				grid-template-columns: 1fr 420px;
				grid-gap: 30px;
				margin-top: 20px;
				padding-bottom: 20px;
				@media (max-width: 767px){
					grid-template-columns: 1fr;
					grid-gap: 20px;
				}
				.head--left{
					display: grid;
					grid-gap: 30px;
					grid-template-columns: 80px 1fr;
					.head--avatar{
						width: 80px;
						height: 80px;
						img{
							height: 100%;
							width: 100%;
							border-radius: 50%;
							object-fit: cover;
						}
					}
					.head--caption{
						padding-top: 7px;
						.name{
							font: normal normal 500 30px/1.5 Oswald;
							letter-spacing: 0px;
							color: #000000;
							display: block;
							@media (max-width: 450px){
								font-size: 24px;
							}
						}
						.position{
							font: normal normal 300 13px/20px Montserrat;
							letter-spacing: 0px;
							color: #757575;
							margin-top: 5px;
						}
					}
				}
				.head--right{
					padding-top: 7px;
					ul{
						display: grid;
						grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
						grid-gap: 30px;
						list-style-type: none;
						padding: 0;
						margin: 0;
						li{
							text-align: center;
							strong{
								font: normal normal 500 30px/1.5 Oswald;
								letter-spacing: 0px;
								color: #000000;
								display: block;
								@media (max-width: 450px){
									font-size: 24px;
								}
							}
							span{
								font: normal normal 300 13px/20px Montserrat;
								letter-spacing: 0px;
								color: #757575;
								margin-top: 5px;
								display: block;
							}
						}
					}
				}
			}
		}
		.head--other{
			border-top: 1px solid #E0E0E0;
			padding: 20px 0 40px;
		    display: grid;
		    grid-template-columns: 1fr 226px;
		    grid-gap: 30px;
		    @media (max-width: 767px){
		    	grid-template-columns: 1fr;
		    	grid-gap: 20px;
		    }
			.other--text{
				font: normal normal 300 13px/20px Montserrat;
				letter-spacing: 0px;
				color: #757575;
				max-width: 580px;
			}
			.other--actions{
				.button{
					padding: 0 20px;
					height: 40px;
					display: inline-block;
					border: 1px solid #000;
					text-align: center;
					font: normal normal normal 13px/38px Oswald;
					letter-spacing: 0px;
					color: #FFFFFF;
					background: #000;
					text-transform: uppercase;
					min-width: 106px;
					@include transition;
					&:not(.style--outline):hover{
					    background: #383838;
					}
					+ .button{
						margin-left: 10px;
					}
					&.style--outline{
						color: #000;
						background: transparent;
					}
				}
			}
		}
	}
}
.tabs-box{
	.tabs{
		display: flex;
		border-top: 2px solid #000;
		border-bottom: 1px solid #000;
		@media (max-width: 450px){
			justify-content: space-between;
		}
		.item{
			padding: 9px 0 11px;
			cursor: pointer;
			pointer-events: auto;
			position: relative;
			font: normal normal normal 13px/20px Oswald;
			+ .item{
				margin-left: 30px;
				@media (max-width: 450px){
					margin: 0;
				}
			}
			&.active{
				&:after, &:before {
					bottom: 0;
					left: 50%;
					border: solid transparent;
					content: " ";
					height: 0;
					width: 0;
					position: absolute;
					pointer-events: none;
				}

				&:after {
					border-color: rgba(0, 0, 0, 0);
					border-bottom-color: #000;
					border-width: 2px;
					margin-left: -2px;
				}
				&:before {
					border-color: rgba(0, 0, 0, 0);
					border-bottom-color: #000;
					border-width: 5px;
					margin-left: -5px;
				}
			}
		}
	}
	.tabs-content{
		.item{
			padding: 40px 0;
			.item--title{
				font: normal normal normal 20px/24px Oswald;
				letter-spacing: 0px;
				color: #000000;
				text-transform: uppercase;
				padding-bottom: 7px;
				border-bottom: 2px solid #000;
			}
			.item--list{
				ul{
					list-style-type: none;
					padding: 0;
					margin: 0;
					@include flex;
					width: calc(100% + 30px);
					margin: 0 -15px;
					li{
						display: flex;
						flex-wrap: wrap;
						width: calc(100% / 3);
						padding: 0 15px;	
						margin: 20px 0;
						border-right: 1px solid #e0e0e0;
						position: relative;
						@media (max-width: 767px){
							width: 50%;
						}
						@media (max-width: 450px){
							width: 100%;
							border: 0;
						}
						&:after{
							content: '';
							display: block;
							position: absolute;
							left: -1px;
							right: 0;
							bottom: -20px;
							border-bottom: 1px solid #e0e0e0;
						}
						&:nth-child(3n){
							border-left: 0;
							&:after{
								left: 15px;
							}
						}	
						&:nth-child(3n){
							&:after{
								right: 15px;
							}
						}
						.thumb{
							width: 100%;						
						    position: relative;
						    display: inline-block;
						    vertical-align: middle;
						    overflow: hidden;		
							&:hover img{
							    -webkit-transform: translate3d(0,0,0) scale(1.05);
							    -moz-transform: translate3d(0,0,0) scale(1.05);
							    transform: translate3d(0,0,0) scale(1.05);
							}
							img{
							    -webkit-transform: translate3d(0,0,0);
							    -moz-transform: translate3d(0,0,0);
							    transform: translate3d(0,0,0);
							    -webkit-transition: -webkit-transform .2s ease-in-out;
							    transition: transform .2s ease-in-out;
							    -webkit-filter: blur();
							    will-change: transform;
							    width: 100%;
							}
						}
						.top{
							margin-top: 15px;
							@include flex;
							.category{
								font: normal normal medium 13px/20px Oswald;
								letter-spacing: 0px;
								color: #000000;
							}
							.time{
								font: normal normal 300 12px/16px Montserrat;
								letter-spacing: 0px;
								color: #757575;
								margin-left: 8px;
								position: relative;
								top: 4px;
							}
						}
						.title{
							margin-top: 11px;
							font: normal normal medium 18px/24px Gelasio;
							letter-spacing: 0px;
							color: #000000;
						}
						.bottom{
							@include flex;
							justify-content: space-between;
							margin-top: 15px;
							width: 100%;
							.status{
								margin-top: 8px;
								display: block;
								&.orange{
									span{										
										background: #F57F17;
									}
								}
								&.red{
									span{										
										background: #B71C1C;
									}
								}
								&.gray{
									span{										
										background: #E0E0E0;
										color: #000;
									}
								}
								span{									
									padding: 4px 8px 5px 10px;
									border-radius: 50px;
									font: normal normal 300 12px/16px Montserrat;
									letter-spacing: 0px;
									color: #FFFFFF;
								}
							}
							.actions{
								@include flex;
								> *{
									width: 40px;
									height: 40px;
									position: relative;
									cursor: pointer;
									pointer-events: auto;
									svg{
										position: absolute;
										top: 0;
										left: 0;
										right: 0;
										bottom: 0;
										margin: auto;
									}
								}
							}
						}
					}
				}
			}
			.item--not{
				padding: 120px 0 80px;
				display: table;
				margin: auto;
				span{
					display: block;
					text-align: center;
					font: italic normal normal 16px/16px Gelasio;
				}
				.button{
					padding: 0 20px;
				    height: 40px;
				    display: inline-block;
				    border: 1px solid #000;
				    text-align: center;
				    font: normal normal normal 13px/38px Oswald;
				    letter-spacing: 0px;
				    color: #000;
				    background: transparent;
				    text-transform: uppercase;
				    min-width: 106px;
				    transition: all 0.2s ease-out 0s;
				    -webkit-transition: all 0.2s ease-out 0s;
				    margin-top: 20px;
				}
			}
		}
	}
}